body {
  font-family: "Open Sans", sans-serif;
}

.navbar {
  background-color: #ffb437 !important;
}

.navbar-toggler {
  border-color: transparent !important;
}

.nav-link {
  color: #7e591c !important;
}

.text-color-orange {
  color: #ffb437;
}

.table-responsive {
  height: 85vh;
  overflow-y: scroll;
}

footer {
  color: #7e591c;
  background-color: #ffb437;
}
